.background-image-wrapper
  .welcome-block
    .container{:style => "text-align:center"}
      %h1 Editing user

      = render 'form'

      = link_to 'Show', @user, :class => "btn btn-primary", :style => "color:#ffffff"
      \|
      = link_to 'Back', users_path, :class => "btn btn-primary", :style => "color:#ffffff"
