.background-image-wrapper
  .container.welcome-block.text-center
    %h1 About:
    -# %h4{:style => "color:#ffffff"}
    %h2 The father of Fuzzy logic
    %p{:style => 'color:#ffffff'} Zadeh, in his theory of fuzzy sets, proposed using a membership function (with a range covering the interval [0,1]) operating on the domain of all possible values. He proposed new operations for the calculus of logic and showed that fuzzy logic was a generalisation of classical and Boolean logic. He also proposed fuzzy numbers as a special case of fuzzy sets, as well as the corresponding rules for consistent mathematical operations (fuzzy arithmetic).
