.background-image-wrapper
  .container.welcome-block.text-center
    %h2 Welcome,
    %h2
      =current_user.username
    .container.text-center.text-left
      %br
      =link_to 'Users', users_path, :class => "btn btn-primary", :style => "color:#ffffff"
      %br
      =link_to 'Posts', posts_path, :class => "btn btn-primary", :style => "color:#ffffff"
      %br
      %br
