%footer{:style => "background-color:#263137;", :bottom => "0px"}
  .container{:align => "center", :bottom => "0px", :style => "text-align:center;"}
    .row
      .col-lg-12
        -# %h5{:style => "color:#9d9d9d;"} Contact
        %p{:style => "color:#9d9d9d;"}
          IFSA Lotfi A. Zadeh Memorial Site
          %br>/
          Maintained by Phillip Hassoun from NAFIPS
          %br/
  %p{:style => "color: #9d9d9d"}  
  .container{:align => "center"}
    .row
      .col-lg-12
        %p.copyright.text-muted.small Copyright © R2CG. 2017. All Rights Reserved
